In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz', compression='gzip')

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [20]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [9]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  object
 2   lpep_dropoff_datetime  630918 non-null  object
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: float64(10), int64(7), object(3)
memory usage: 96.3+ MB

In [14]:
engine.connect()

In [35]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', compression='gzip', iterator=True, chunksize=100000)

In [21]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.41 s, sys: 25 ms, total: 2.44 s
Wall time: 4.73 s

1000

In [13]:
from time import time

In [36]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append', index=False)
    
    t_end = time()
    
    print(' %3.f second' % (t_end - t_start))

   5 second
   5 second
   5 second
   5 second
   5 second
   5 second
   2 second

StopIteration:

In [26]:
df['lpep_dropoff_datetime'].value_counts()

2019-01-12 00:00:00    32
2019-01-20 00:00:00    31
2019-01-11 00:00:00    28
2019-01-06 00:00:00    25
2019-01-10 00:00:00    24
                       ..
2019-01-12 09:35:39     1
2019-01-12 10:21:41     1
2019-01-12 10:00:59     1
2019-01-12 09:31:17     1
2019-01-31 23:22:59     1
Name: lpep_dropoff_datetime, Length: 540701, dtype: int64